<div class="container">
  <div id="widget-box" class="horizontal">	
  	<div id="caption"><div>Поиск билетов на автобус</div></div>
  	<form action="//ros-bilet.ru/search/list" method="GET">
  		<input type="hidden" name="ref" value="58272">
  		<input type="text" id="edit-from" name="from">
  		<input type="text" id="edit-to" name="to">
  		<input type="submit" id="go" value="Найти!">
  	</form>
  </div>
</div>