<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>
  
  <p>
    <strong>Spoiler:</strong>
    <%= @post.spoiler %>
  </p>
  
  <% @images.each do |image| %>
    <%= image_tag image.url, class: "thumbnail" %>
  <% end %>
    
</div>